.video-responsive {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 60%;
  }
  
  .video-responsive iframe {
    height: 100%;
    width: 100%;
    position: relative;
  }
  
