.homePage {
    height: 100%;
    width: 100%;
}

.firstSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom , black, #8409e8);
 
    height: 90vh;
}

.headerContainer {
    display: flex;
    height: 10%;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.headerLogo {
    height: 100%;
}


.videoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.imgTriangulo {
    position: relative;
    top: -13%;
    width: 250px;
}


.secondSection {
    height: 100vh;
    width: 100vw; 
    font-size: 200%;
    font-family: Eurostile, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

