.homePage {
    height: 100%;
    width: 100%;
}

.firstSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
}

.headerContainer {
    display: flex;
    height: 10%;
    background-color: black;
    justify-content: center;
    padding: 20px;
}

.headerLogo {
    height: 100%;
}


.videoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 60%;
    padding: 20px;
    
}

.videoContent {
    height: 100%;
} 
